In [1]:
import pandas as pd
import numpy as np
import torch
import pysql
import os

# DB 연결 설정
conn, tunnel = pysql.get_db_connection()
print("✅ DB Connection Success")

c:\Users\s\Documents\2ndnohow\.venv\Lib\site-packages\paramiko\pkey.py:82: CryptographyDeprecationWarning: TripleDES has been moved to cryptography.hazmat.decrepit.ciphers.algorithms.TripleDES and will be removed from cryptography.hazmat.primitives.ciphers.algorithms in 48.0.0.
  "cipher": algorithms.TripleDES,
c:\Users\s\Documents\2ndnohow\.venv\Lib\site-packages\paramiko\transport.py:253: CryptographyDeprecationWarning: TripleDES has been moved to cryptography.hazmat.decrepit.ciphers.algorithms.TripleDES and will be removed from cryptography.hazmat.primitives.ciphers.algorithms in 48.0.0.
  "class": algorithms.TripleDES,

db connection success
✅ DB Connection Success

### 1. 데이터 로드 (SQL)

In [2]:
query = "SELECT * FROM appointment LIMIT 1000"
df = pd.read_sql(query, conn)
conn.close()
tunnel.stop()

df.head()

,appointment_id,appointment_datetime,appointment_date,name,specialty,gender,age,under_12_years_old,over_60_years_old,patient_needs_companion,disability,no_show,icd
0,199052,2021-09-09 13:20:00,2021-09-09,최지민,physiotherapy,0,11,0,0,0,,1,
1,199053,2021-09-09 13:20:00,2021-09-09,박현숙,psychotherapy,0,11,0,0,0,,0,
2,199054,2021-09-09 13:20:00,2021-09-09,조상호,speech therapy,1,11,0,0,0,,0,
3,199055,2021-09-09 13:20:00,2021-09-09,오성훈,physiotherapy,1,11,0,0,0,,0,
4,199056,2021-09-09 14:00:00,2021-09-09,안예진,physiotherapy,0,68,0,1,1,motor,0,i67

### 2. 저장된 모델 리스트 뽑기

In [3]:
pysql.list_models()

db connection success
번호    | 작성자ID    | 모델유형            | 정확도      | 저장시간                 | 메모
--------------------------------------------------------------------------------------------------------------
22    | 5        | MachineLearning | 0.9026   | 2026-01-09 03:17:10  | ML Test
1     | 5        | DeepLearning    | 0.9081   | 2026-01-09 00:09:24  | DNN Fix Test

### 3. 모델 업로드 (Push)

In [4]:
# 변수 설정
target_model = None  # 학습된 모델 객체
accuracy = 0.0       # 모델 정확도
user_id = 5          # 1정유선 2김도영 3유헌상 4정희영 5정용희

if target_model:
    pysql.push_model(
        model_obj=target_model,
        user_id=user_id,
        accuracy=float(accuracy),
        description="모델 설명 입력"
    )

### 4. 모델 로드 및 작업 (Load & Work)

In [5]:
model_num = 18  # 로드할 모델 번호
loaded_model = pysql.load_model('model', model_num)

if loaded_model:
    print(f"✅ {model_num}번 모델 로드 완료")
    
    # 샘플 데이터 예측 예시
    # test_input = np.zeros((1, 7))
    # result = loaded_model.predict(test_input) if hasattr(loaded_model, 'predict') else loaded_model(torch.tensor(test_input).float())
    # print(result)

db connection success